<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <jsp-config>
        <jsp-property-group>
        <url-pattern>*.jsp</url-pattern>
        <page-encoding>ISO-8859-1</page-encoding>
      </jsp-property-group>
    </jsp-config>    
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>com.controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuarios</servlet-name>
        <servlet-class>com.controlador.ControladorUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPedidos</servlet-name>
        <servlet-class>com.controlador.ControladorPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorApuntes</servlet-name>
        <servlet-class>com.controlador.ControladorApuntes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuarios</servlet-name>
        <url-pattern>/ControladorUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPedidos</servlet-name>
        <url-pattern>/ControladorPedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorApuntes</servlet-name>
        <url-pattern>/ControladorApuntes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
